@import "./variables.scss";
@import "./fonts.scss";
@import "./typo.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

blockquote {
  font-size: 1.5rem;
  --padding-block: 1rem;
  --padding-inline: 1.25rem;
  --color: var(--theme-divider);

  display: flex;
  flex-direction: column;

  padding: var(--padding-block) var(--padding-inline);
  margin-left: calc(var(--padding-inline) * -1);
  margin-right: calc(var(--padding-inline) * -1);

  background: transparent;
  border-left: calc(var(--padding-inline) / 2) solid var(--color);
  border-radius: 0;
}

blockquote .source {
  font-weight: 500;
  color: var(--color);
  font-size: 1rem;
}

ul,
ol[role="list"] {
  list-style-type: none;
}

html:focus-within {
  scroll-behavior: smooth;
    // overflow-y: scroll;
}

body {
  height: 100vh;
  margin: 0;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-y: scroll;
  font-size: 20px;
  background-color: $color-white;
  font-family: open_sans;
  font-weight: 900;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a,
button,
input,
textarea {
  transition: 0.1s ease-out;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.icon {
    background-color: $color-black;
    padding: 10px;
    fill: $color-white;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);

    &:hover {
      cursor: pointer;
      fill: $color-red;
  }
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
